@import "tailwindcss";

@import "@heroui/styles"; 

@theme {
  /* Tomar deya specific color palette extend kora hocche */
  --color-brand-dark: #2C5EAD;
  --color-brand-primary: #1591DC;
  --color-brand-light: #4BB8FA;
  --color-brand-ice: #C4E2F5;
}